
<!-- body section starts here -->
<!-- <body> -->
    <div class="bg">
        <div class="jumbotron bg-info">
          <h1 class="h1 text-center text-white animated bounce infinite"><a target="_top" href="https://flamingtext.com/" ><img src="https://blog.flamingtext.com/blog/2020/11/15/flamingtext_com_1605431195_962295292.png" border="0" alt="Logo Design by FlamingText.com" title="Logo Design by FlamingText.com"></a></h1>
          <hr class="my-4">
          <p class="lead text-center"><a target="_top" href="https://flamingtext.com/" ><img src="https://blog.flamingtext.com/blog/2020/11/15/flamingtext_com_1605431295_962295293.png" border="0" alt="Logo Design by FlamingText.com" title="Logo Design by FlamingText.com"></a></p>
        </div>
         <!-- Designed by Lorenah M.  -->
      
        <!-- this is the section that contains the search form  -->
        <div class="container">
          <h4 class="text-center h4 text-white text-white"><a target="_top" href="https://flamingtext.com/" ><img src="https://blog.flamingtext.com/blog/2020/11/15/flamingtext_com_1605431443_962295294.png" border="0" alt="Logo Design by FlamingText.com" title="Logo Design by FlamingText.com"></a></h4>
          <app-git-form (emitSearch)="searchRepo($event)"></app-git-form>
          <hr>
        </div>
      
      
        <!-- This is the section for displaying user profiles -->
        <h2 class="text-center h2 h2-responsive text-dark animated swing delay-3s">{{searchTerm}} GITHUB REPOSITORIES </h2>
        <div class="container card-columns">
          <div class="card" *ngFor="let gitrepo of gitrepos">
            <div class="card">
              <div class="card-header text-center text-bold -gradient text-white"><h2>{{gitrepo.name}}</h2></div>
              <div class="card-body">
                <p class="card-text"><strong>Description: </strong>{{gitrepo.description}}</p>
                <p class="card-text"><strong>Create at: </strong>{{gitrepo.created_at|date}}</p>
                <p class="card-text"> <strong>Language: </strong> {{gitrepo.language}}.</p>
                <!-- Button -->
                <a href="{{gitrepo.html_url}}" target="_blank" class="btn btn-warning btn-lg btn-block">Check it on Github</a>
              </div>
              <div class="card-footer flex-footer">
                <small class="text-muted"><strong>Branch: </strong>{{gitrepo.default_branch}} </small>
                <small class="text-muted ml-4"><strong> Forks: </strong>{{gitrepo.forks_count}}</small>
      
              </div>
            </div>
          </div>
        </div>
      
      <!-- </body> -->
      
      <!-- Footer section -->
      <div class="">
        <footer class="page-footer bg-dark font-small blue">
      
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="https://twitter.com/skylar_lorena" target="_blank">Lorenah M.</a>
            </div>
            <!-- Copyright -->
      
        </footer>
      
      
      </div>
      <!-- Footer -->
      